html,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", sans-serif;
}

code, pre {
    font-family: "Inconsolata", monospace;
    background: #fafafa;
}

p code {
    font-size: 90%;
}

pre {
    background: #fafafa;
    padding: 1em;
    border: 1px solid #eee;
    overflow-x: auto;
}

h1 {
    font-size: 2.389rem;
    line-height: 2.536rem;
    margin-top: 2.536rem;
}

h2 {
    font-size: 1.838rem;
    line-height: 1.951rem;
    margin-top: 1.951rem;
}

#content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em;
}

table td, table th {
    padding: 0 0.2em;
}